name: check

on:
  pull_request:
    branches:
      - main
      - 'renovate/**'
    paths-ignore:
      - '**.md'

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.26'
      - run: go version
      - name: go fmt
        run: if [ "$(gofmt -s -d . | tee fmt.out | wc -l)" -gt 0 ]; then cat fmt.out; exit 1; fi
      - name: go test
        run: make test ROOT_CMD=sudo
