name: check

on:
  pull_request:
    branches:
      - main
      - 'renovate/**'
    paths-ignore:
      - '**.md'

jobs:
  test:
    name: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: '1.25'
      - run: go version
      - name: go fmt
        run: if [ "$(gofmt -s -d . | tee fmt.out | wc -l)" -gt 0 ]; then cat fmt.out; exit 1; fi
      - name: go test
        run: make test ROOT_CMD=sudo
